<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4 text-light">Ruby Programming Language</h1>
    <p class="lead text-light">A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write..</p>
    <hr class="my-4">
    <p style="color:white;"> Ruby is easy to learn because of its similar syntax to already widely used languages..</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>
