<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Antier", "https://www.antiersolutions.com/", class: "text-white"  %></small>
  </div>
</footer>